parameters:
    level: 6
    phpVersion: 80200

    paths:
        - Api
        - Console
        - Controller
        - Cron
        - MessageQueue
        - Model
        - Service
        - Ui

    excludePaths:
        - Test
        - vendor

    ignoreErrors:
        - '#.*Factory.*not found#'
        - '#.*Collection.*not found#'
        - '#Call to an undefined method Magento\\Framework\\Model\\AbstractModel#'
